[submodule "Valkron/vendor/spdlog"]
	path = Valkron/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Valkron/vendor/glfw"]
	path = Valkron/vendor/glfw
	url = https://github.com/glfw/glfw.git